#!/bin/bash

---
- hosts: localhost
  gather_facts: True
  vars_files:
    - "{{ lookup('env','CONFDIR') }}/variables/account.yml"
    - "{{ lookup('env','BASEDIR') }}/includes/dockerapps/templates/generique/generique.yml"
  tasks:

    - name: 'Set Known Facts'
      set_fact:
        pgrole: 'traefik'

    - name: create traefik state
      shell: |
        echo "1" >  {{ lookup('env','CONFDIR') }}/status/{{pgrole}}

    - name: Checking for existing app data
      stat:
        path: "{{ lookup('env','CONFDIR') }}/docker/{{user.name}}/authelia/configuration.yml"
      register: check

    - name: "Set DNS Record on CloudFlare"
      include_tasks: "{{ lookup('env','BASEDIR') }}/includes/config/roles/cloudflare/tasks/main.yml"
      vars:
        subdomain: "{{sub[pgrole][pgrole] if sub_enabled else pgrole}}"
      when: cloudflare_enabled

    - name: Remove {{pgrole}}
      docker_container:
        name: '{{pgrole}}'
        state: absent

    - name: Create Basic Directories
      file: "path={{item}} state=directory mode=0775"
      with_items:
        - "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}"
        - "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/acme"
        - "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/rules"

    - name: Check acme.json exists
      stat:
        path: " {{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/acme/acme.json"
      register: acme_json

    - name: Installing ACME
      template:
        src: acme.json
        dest: "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/acme/acme.json"
        force: yes
        mode: 0600
      when: acme_json.stat.exists == False
      
    - name: Create directory
      file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/"
        - "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/rules"

    - name: create an empty file traefik.log
      file:
        path: "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/traefik.log"
        state: touch

    - name: Import middlewares-chains.toml
      template:
        src: "{{ lookup('env','BASEDIR') }}/includes/dockerapps/templates/{{pgrole}}/middlewares-chains.toml.j2"
        dest: "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/rules/middlewares-chains.toml"

    - name: Import middlewares.toml
      template:
        src: "{{ lookup('env','BASEDIR') }}/includes/dockerapps/templates/{{pgrole}}/middlewares.toml.j2"
        dest: "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/rules/middlewares.toml"

    - name: label {{pgrole}}with cloudflare
      set_fact:
        labels:
          traefik.enable: 'true'
          ## HTTP-to-HTTPS Redirect
          traefik.http.routers.http-catchall.entrypoints: 'http'
          traefik.http.routers.http-catchall.rule: 'HostRegexp(`{host:.+}`)'
          traefik.http.routers.http-catchall.middlewares: 'redirect-to-https'
          traefik.http.middlewares.redirect-to-https.redirectscheme.scheme: 'https'
          ## HTTP Routers
          traefik.http.routers.traefik-rtr.entrypoints: 'https'
          traefik.http.routers.traefik-rtr.rule: 'Host(`{{sub[pgrole][pgrole] if sub_enabled else pgrole}}.{{user.domain}}`)'
          traefik.http.routers.traefik-rtr.tls: 'true'
          traefik.http.routers.traefik-rtr.tls.certresolver: 'letsencrypt' 
          traefik.http.routers.traefik-rtr.tls.domains[0].main: '{{user.domain}}'
          traefik.http.routers.traefik-rtr.tls.domains[0].sans: '*.{{user.domain}}'
          ## Services - API
          traefik.http.routers.traefik-rtr.service: 'api@internal'
          ## Middlewares
          traefik.http.routers.traefik-rtr.middlewares: "{{ 'chain-authelia@file' if check.stat.exists and sub[pgrole].auth == 'authelia' | default(false)
            else 'chain-basic-auth@file' if auth_enabled and sub[pgrole].auth == 'basique' | default(false)
            else 'chain-oauth@file' if auth_enabled and sub[pgrole].auth == 'oauth' | default(false) 
            else omit if auth_enabled and sub[pgrole].auth == 'aucune'}}"
      when: cloudflare_enabled

    - name: label traefik without cloudflare
      set_fact:
        labels:
          traefik.enable: 'true'
          ## HTTP-to-HTTPS Redirect
          traefik.http.routers.http-catchall.entrypoints: 'http'
          traefik.http.routers.http-catchall.rule: 'HostRegexp(`{host:.+}`)'
          traefik.http.routers.http-catchall.middlewares: 'redirect-to-https'
          traefik.http.middlewares.redirect-to-https.redirectscheme.scheme: 'https'
          ## HTTP Routers
          traefik.http.routers.traefik-rtr.entrypoints: 'https'
          traefik.http.routers.traefik-rtr.rule: 'Host(`{{sub[pgrole][pgrole] if sub_enabled else pgrole}}.{{user.domain}}`)'
          traefik.http.routers.traefik-rtr.tls: 'true'
          traefik.http.routers.traefik-rtr.tls.certresolver: 'letsencrypt'
          ## Services - API
          traefik.http.routers.traefik-rtr.service: 'api@internal'
          ## Middlewares
          traefik.http.routers.traefik-rtr.middlewares: "{{ 'chain-authelia@file' if check.stat.exists and sub[pgrole].auth == 'authelia' | default(false)
            else 'chain-basic-auth@file' if auth_enabled and sub[pgrole].auth == 'basique' | default(false)
            else 'chain-oauth@file' if auth_enabled and sub[pgrole].auth == 'oauth' | default(false) 
            else omit if auth_enabled and sub[pgrole].auth == 'aucune'}}"
      when: not cloudflare_enabled

    - name: command traefik with cloudflare
      set_fact:
        command:
          - --global.checkNewVersion=true
          - --global.checkNewVersion=true
          - --global.sendAnonymousUsage=true
          - --entryPoints.http.address=:80
          - --entryPoints.https.address=:443
          - --entrypoints.https.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/12,172.64.0.0/13,131.0.72.0/22
          - --entryPoints.traefik.address=:8080
          - --api=true
          - --log=true
          - --log.level=DEBUG
          - --accessLog=true
          - --accessLog.filePath=/traefik.log
          - --accessLog.bufferingSize=100
          - --accessLog.filters.statusCodes=400-499
          - --providers.docker=true
          - --providers.docker.endpoint=unix:///var/run/docker.sock
          - --providers.docker.exposedByDefault=false
          - --entrypoints.https.http.tls.certresolver=letsencrypt
          - --providers.docker.network=traefik_proxy
          - --providers.docker.swarmMode=false
          - --providers.file.directory=/rules
          - --providers.file.watch=true
          - --certificatesResolvers.letsencrypt.acme.email='{{cloudflare.login}}'
          - --certificatesResolvers.letsencrypt.acme.storage=/acme.json
          - --certificatesResolvers.letsencrypt.acme.dnsChallenge.provider=cloudflare
          - --certificatesResolvers.letsencrypt.acme.dnsChallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      when: cloudflare_enabled

    - name: command traefik without cloudflare
      set_fact:
        command:
          - --global.checkNewVersion=true
          - --global.checkNewVersion=true
          - --global.sendAnonymousUsage=true
          - --entryPoints.http.address=:80
          - --entryPoints.https.address=:443
          - --entryPoints.traefik.address=:8080
          - --api=true
          - --log=true
          - --log.level=DEBUG
          - --accessLog=true
          - --accessLog.filePath=/traefik.log
          - --accessLog.bufferingSize=100
          - --accessLog.filters.statusCodes=400-499
          - --providers.docker=true
          - --providers.docker.endpoint=unix:///var/run/docker.sock
          - --providers.docker.exposedByDefault=false
          - --providers.docker.network=traefik_proxy
          - --providers.docker.swarmMode=false
          - --providers.file.directory=/rules
          - --providers.file.watch=true
<<<<<<< HEAD
           - --certificatesResolvers.letsencrypt.acme.email='{{user.mail}}'
=======
          - --certificatesResolvers.letsencrypt.acme.email='{{user.mail}}'
>>>>>>> 14ad3ee2afa16ec29c7b71763d517a1306764019
          - --certificatesResolvers.letsencrypt.acme.storage=/acme.json
          - --certificatesresolvers.letsencrypt.acme.tlschallenge=true
      when: not cloudflare_enabled
      
    - name: Create a network
      community.docker.docker_network:
        name: traefik_proxy

    - name: Deploy Traefik
      docker_container:
        name: '{{pgrole}}'
        image: traefik:chevrotin
        pull: yes
        published_ports:
          - "443:443"
          - "80:80"
          - "8080:8080"
        command: '{{command}}'
        security_opts:
          - no-new-privileges:true
        env:
          CF_API_EMAIL: '{{cloudflare.login}}'
          CF_API_KEY: '{{cloudflare.api}}'
        volumes:
          - "/var/run/docker.sock:/var/run/docker.sock:ro"
          - "/etc/localtime:/etc/localtime:ro"
          - "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/acme/acme.json:/acme.json"
          - "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/rules:/rules"
          - "{{ lookup('env','CONFDIR') }}/docker/{{pgrole}}/traefik.log:/traefik.log"
        labels: '{{labels}}'
        restart_policy: unless-stopped
        state: started
        networks:
          - name: traefik_proxy

    - name: Google OAuth2 tasks
      include_tasks: 'templates/{{pgrole}}/oauth.yml'
      when: oauth_enabled

    - name: create {{pgrole}}state
      shell: |
        echo "2" >  {{ lookup('env','CONFDIR') }}/status/{{pgrole}}
        
    - name: create {{pgrole}}state
      shell: |
        echo "2" >  {{ lookup('env','CONFDIR') }}/status/oauth
      when: oauth_enabled

    - name: Insert traefik into database
      shell : 
        cmd: |
          sqlite3 {{  lookup('env','BASEDIR') }}/ssddb << EOF
              replace into applications (name,status,subdomain,port)
              values
              ('traefik',2,'{{sub[pgrole][pgrole] if sub_enabled else pgrole}}',443);
          EOF

