[Unit]
Description=cloudplow
After=network-online.target

[Service]
User=%SEEDUSER%
Group=%SEEDGROUP%
Type=simple
WorkingDirectory=/home/%SEEDUSER%/cloudplow/
ExecStart=/usr/bin/python3 /home/%SEEDUSER%/cloudplow/cloudplow.py run --loglevel=INFO
ExecStopPost=/bin/rm -rf /home/%SEEDUSER%/cloudplow/locks
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
