[Unit]
Description=gmedia mergerfs mount
Requires=rclone.service
After=rclone.service

[Service]
Type=forking
ExecStart=/usr/bin/mergerfs /home/{{user.name}}/local:/mnt/rclone/{{user.name}} /home/{{user.name}}/Medias -o rw,use_ino,allow_other,func.getattr=newest,category.action=all,category.create=ff,cache.files=auto-full
ExecStop=/bin/fusermount -u /home/{{user.name}}/Medias
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target

