#########################################################################
# Title:         Cloudbox: Cloudflare Role                              #
# Author(s):     l3uddz, desimaniac                                     #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Set DNS Record
  cloudflare_dns:
    account_api_token: "{{ cloudflare.api }}"
    account_email: "{{ cloudflare.login }}"
    zone: "{{ user.domain }}"
    state: absent
    solo: true
    proxied: yes
    type: A
    value: "{{ network.ipv4 }}"
    record: "{{ subdomain }}"


- name: Set record for ipv6
  block:
  - name: Set DNS Record ipv6
    cloudflare_dns:
      account_api_token: "{{ cloudflare.api }}"
      account_email: "{{ cloudflare.login }}"
      zone: "{{ user.domain }}"
      state: absent
      solo: true
      proxied: yes
      type: AAAA
      value: "{{ network.ipv6 }}"
      record: "{{ subdomain }}"
  when: (network.ipv6 is defined) and (network.ipv6|length > 0)