# override the minimum age to 30 minutes:
minimum-age: 5m

port: 3030

anchors:
  - /home/{{ lookup('env','USER') }}/Medias/drive1.anchor

triggers:
  inotify:
    - priority: 0

      # filter with regular expressions
      include:
        - ^/home/{{ lookup('env','USER') }}/Medias/
      exclude:
        - '\.(srt|pdf)$'

      # rewrite inotify path to unified filesystem
      rewrite:
        - from: ^/home/{{ lookup('env','USER') }}/local/
          to: /home/{{ lookup('env','USER') }}/Medias/

      # local filesystem paths to monitor
      paths:
        - path: /home/{{ lookup('env','USER') }}/local/Series
        - path: /home/{{ lookup('env','USER') }}/local/Films
  sonarr:
    - name: sonarr-docker
      priority: 3

      rewrite:
        - from: /home/{{ lookup('env','USER') }}/Medias/Series/
          to: /home/{{ lookup('env','USER') }}/Medias/Series/

  radarr:
    - name: radarr-docker
      priority: 1

      rewrite:
        - from: /home/{{ lookup('env','USER') }}/Medias/Films/
          to: /home/{{ lookup('env','USER') }}/Medias/Films/

  lidarr:
    - name: lidarr-docker
      priority: 2

      rewrite:
        - from: /home/{{ lookup('env','USER') }}/Medias/Musiques/
          to: /home/{{ lookup('env','USER') }}/Medias/Musiques/

targets:
  plex:
    - url: http://plex:32400
      token: {{plex.token}}
      rewrite:
        - from: /home/{{ lookup('env','USER') }}/Medias/
          to: /data/