# override the minimum age to 30 minutes:
minimum-age: 5m

port: 3030

anchors:
  - /home/{{ lookup('env','USER') }}/Medias/drive1.anchor

triggers:
  sonarr:
    - name: sonarr-docker
      priority: 0

      rewrite:
        - from: /home/{{ lookup('env','USER') }}/Medias/Series/*
          to: /home/{{ lookup('env','USER') }}/Medias/Series/$1

  radarr:
    - name: radarr-docker
      priority: 1

      rewrite:
        - from: /home/{{ lookup('env','USER') }}/Medias/Films/*
          to: /home/{{ lookup('env','USER') }}/Medias/Films/$1

  lidarr:
    - name: lidarr-docker
      priority: 2

      rewrite:
        - from: /home/{{ lookup('env','USER') }}/Medias/Musiques/*
          to: /home/{{ lookup('env','USER') }}/Medias/Musiques/$1

targets:
  plex:
    - url: https://plex.{{user.domain}}
      token: {{plex.token}}
      rewrite:
        - from: /home/{{ lookup('env','USER') }}/Medias/*
          to: /data/$1