traefik.enable: 'true'
## HTTP Routers
traefik.http.routers.{{pgrole}}-rtr.entrypoints: 'https'
traefik.http.routers.{{pgrole}}-rtr.rule: 'Host(`{{sub[pgrole][pgrole] if sub_enabled else pgrole}}.{{user.domain}}`)'
traefik.http.routers.{{pgrole}}-rtr.tls: 'true'
## Middlewares
traefik.http.routers.{{pgrole}}-rtr.middlewares: "{{ 'chain-authelia@file' if check.stat.exists and sub[pgrole].auth == 'authelia' | default(false)
else 'chain-basic-auth@file' if auth_enabled and sub[pgrole].auth == 'basique' | default(false)
else 'chain-oauth@file' if auth_enabled and sub[pgrole].auth == 'oauth' | default(false) 
else omit if auth_enabled and sub[pgrole].auth == 'aucune'}}"
## HTTP Services
traefik.http.routers.{{pgrole}}-rtr.service: '{{pgrole}}-svc'
traefik.http.services.{{pgrole}}-svc.loadbalancer.server.port: "{{ intport }}"