version: "3"

services:

  db:
    build: db
    read_only: true
    container_name: db-mattermost
    restart: unless-stopped
    volumes:
      - {{ settings.storage }}/docker/{{user.name}}/mattermost/db:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_USER={{user.name}}
      - POSTGRES_PASSWORD={{user.pass}}
      - POSTGRES_DB=mattermost
    networks:
     - mattermost

  app:
    build:
      context: app
      args:
        - edition=team
        - PUID={{user.userid}}
        - PGID={{user.groupid}}
    container_name: mattermost
    restart: unless-stopped
    volumes:
      - {{ settings.storage }}/docker/{{user.name}}/mattermost/config:/mattermost/config:rw
      - {{ settings.storage }}/docker/{{user.name}}/mattermost/data:/mattermost/data:rw
      - {{ settings.storage }}/docker/{{user.name}}/mattermost/logs:/mattermost/logs:rw
      - {{ settings.storage }}/docker/{{user.name}}/mattermost/plugins:/mattermost/plugins:rw
      - {{ settings.storage }}/docker/{{user.name}}/mattermost/client-plugins:/mattermost/client/plugins:rw
      - /etc/localtime:/etc/localtime:ro
    environment:
      - MM_USERNAME={{user.name}}
      - MM_PASSWORD={{user.pass}}
      - MM_DBNAME=mattermost
      - MM_SQLSETTINGS_DATASOURCE=postgres://{{user.name}}:{{user.pass}}@db:5432/mattermost?sslmode=disable&connect_timeout=10
      - MM_SERVICESETTINGS_SITEURL=https://mattermost.{{user.domain}}
    labels:
        traefik.enable: 'true'
        traefik.http.routers.mattermost-rtr.entrypoints: 'https'
        traefik.http.routers.logarr-rtr.rule: 'Host(`{{sub.mattermost if sub_enabled else pgrole}}.{{user.domain}}`)'
        traefik.http.routers.mattermost-rtr.tls: 'true'
        #traefik.http.routers.mattermost-rtr.middlewares: 'chain-oauth@file'
        traefik.http.routers.mattermost-rtr.service: 'mattermost-svc'
        traefik.http.services.mattermost-svc.loadbalancer.server.port: '8000'
    networks:
     - traefik_proxy
     - mattermost

networks:
  traefik_proxy:
    external: true
  mattermost:
    external:
      name: bridge_mattermost

