[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=/mnt/rclone
After=plexdrive.service

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --config=/root/.config/rclone/rclone.conf --exclude BACKUPS/** --allow-other --gid %GRPID% --uid %USERID% %REMOTEPLEX%/%SEEDUSER% /mnt/rclone/%SEEDUSER%
ExecStop=/bin/fusermount -uz /mnt/rclone/%SEEDUSER%
Restart=on-abort

[Install]
WantedBy=default.target