[Definition]
 
actionstart = iptables -N f2b-traefik-auth
	iptables -A f2b-traefik-auth -j RETURN
	iptables -I FORWARD -p tcp -m multiport --dports 443 -j f2b-traefik-auth

actionstop = iptables -D FORWARD -p tcp -m multiport --dports 443 -j f2b-traefik-auth
	iptables -F f2b-traefik-auth
	iptables -X f2b-traefik-auth

actioncheck = iptables -n -L FORWARD | grep -q 'f2b-traefik-auth[ \t]'
 
actionban = iptables -I f2b-traefik-auth -s <ip> -j DROP

actionunban = iptables -D f2b-traefik-auth -s <ip> -j DROP	