[DEFAULT]
ignoreip = 127.0.0.1 {{ local_ip }}
findtime = 3600
bantime = 600

[traefik-auth]
enabled = true
logpath = {{ settings.storage }}/docker/traefik/logs/access.log
port = http,https
banaction = docker-action
maxretry = 10

[traefik-botsearch]
enabled = true
logpath = {{ settings.storage }}/docker/traefik/logs/access.log
maxretry = 10
port = http,https
banaction = iptables-multiport

[traefik-badbots]
enabled = true
filter = apache-badbots
logpath = {{ settings.storage }}/docker/traefik/logs/access.log
maxretry = 10
port = http,https
banaction = iptables-multiport

[apache-log4j]
enabled  = true
filter   = apache-log4j
action = iptables-multiport
logpath  = {{ settings.storage }}/docker/traefik/logs/access.log
bantime  = 3d
maxretry = 1