# /etc/systemd/system/cloudplow.service

[Unit]
Description=Cloudplow
After=network-online.target

[Service]
User=0
Group=0
Type=simple
WorkingDirectory=/home/{{user.name}}/scripts/cloudplow/
ExecStart=/usr/bin/python3 /home/{{user.name}}/scripts/cloudplow/cloudplow.py run --loglevel=INFO
ExecStopPost=/bin/rm -rf /home/{{user.name}}/scripts/cloudplow/locks
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
