# /etc/systemd/system/cloudplow.service

[Unit]
Description=Cloudplow
After=network-online.target

[Service]
User={{ lookup('env','USER') }}
Group={{ lookup('env','USER') }}
Type=simple
WorkingDirectory=/home/{{ lookup('env','USER') }}/scripts/cloudplow/
ExecStart=/opt/seedbox-compose/venv/bin/python3 /home/{{ lookup('env','USER') }}/scripts/cloudplow/cloudplow.py run --loglevel=INFO
ExecStopPost=/bin/rm -rf /home/{{ lookup('env','USER') }}/scripts/cloudplow/locks
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
