{
    "core": {
        "dry_run": false,
        "rclone_binary_path": "/usr/bin/rclone",
        "rclone_config_path": "/home/{{ lookup('env','USER') }}/.config/rclone/rclone.conf"
    },
    "hidden": {
        "/home/{{user.name}}/local/.unionfs-fuse": {
            "hidden_remotes": [
                "{{rclone.remote}}"
            ]
        }
    },
    "notifications": {
    },
    "plex": {
        "enabled": true,
        "url": "https://plex.{{user.domain}}",
        "token": "{{plex.token}}",
        "poll_interval": 60,
        "notifications": false,
        "max_streams_before_throttle": 1,
        "rclone": {
            "throttle_speeds": {
                "0": "100M",
                "1": "50M",
                "2": "40M",
                "3": "30M",
                "4": "20M",
                "5": "10M"
            },
            "url": "http://localhost:7949"
        }
    },
    "remotes": {
        "{{rclone.remote}}": {
            "hidden_remote": "{{rclone.remote}}:/{{user.name}}",
            "rclone_excludes": [
                "**partial~",
                "**_HIDDEN~",
                ".unionfs/**",
                ".unionfs-fuse/**",
                ".fuse_hidden**",
                "rutorrent**/",
                "sabnzbd**/",
                "Unsorted**/"
            ],
            "rclone_extras": {
                "--checkers": 16,
                "--drive-chunk-size": "64M",
                "--stats": "60s",
                "--transfers": 8,
                "--verbose": 1,
                "--skip-links": null,
                "--drive-stop-on-upload-limit": null,
                "--user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36"
            },
            "rclone_sleeps": {
                "Failed to copy: googleapi: Error 403: User rate limit exceeded": {
                    "count": 5,
                    "sleep": 25,
                    "timeout": 3600
                },
                " 0/s,": {
                    "count": 15,
                    "sleep": 25,
                    "timeout": 140
                }
            },
            "rclone_command": "move",
            "remove_empty_dir_depth": 2,
            "sync_remote": "{{rclone.remote}}:/{{user.name}}",
            "upload_folder": "/home/{{user.name}}/local",
            "upload_remote": "{{rclone.remote}}:/{{user.name}}"
        }
    },
    "syncer": {
    },
    "uploader": {
        "{{rclone.remote}}": {
            "can_be_throttled": true,
            "check_interval": 30,
            "exclude_open_files": false,
            "max_size_gb": 50,
            "opened_excludes": [
                "/rutorrent/"
            ],
            "schedule": {
                "allowed_from": "04:00",
                "allowed_until": "08:00",
                "enabled": false
            },
            "size_excludes": [
                "rutorrent/*"
            ],
            "service_account_path": "/opt/sa"
        }
    }
}
