# /etc/systemd/system/plex_autoscan.service

[Unit]
Description=Plex Autoscan
After=network-online.target

[Service]
User={{ lookup('env','MYUID') }}
Group={{ lookup('env','MYGID') }}
Type=simple
WorkingDirectory=/home/{{ lookup('env','USER') }}/scripts/plex_autoscan/
ExecStart=/opt/seedbox-compose/venv/bin/python /home/{{ lookup('env','USER') }}/scripts/plex_autoscan/scan.py server --loglevel=INFO
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
