# /etc/systemd/system/plex_autoscan.service

[Unit]
Description=Plex Autoscan
After=network-online.target

[Service]
User={{user.userid}}
Group={{user.groupid}}
Type=simple
WorkingDirectory=/home/{{user.name}}/scripts/plex_autoscan/
ExecStart=/home/{{user.name}}/scripts/plex_autoscan/scan.py server --loglevel=INFO
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
