{
  "autoscan": {
    "api_key": "{{ plex_autoscan.stdout if (plex_autoscan_service.stat.exists) | default(false) else omit }}",
    "url": "http://plex.{{ user.domain }}:3468"
  },
  "motd": {
    "banner_title": "{{ ( cloudbox_type | default('Mondedie',true) ) | capitalize }}",
    "banner_type": "peek",
    "show": {
      "autoscan": true,
      "nzbget": false,
      "plexpy": true,
      "rtorrent": true
  },
    "text_color": "LGRN",
    "title_color": "LBLU"
  },
  "nzbget": {
    "url": "https://{{ user.name }}:{{ user.pass }}@nzbget.{{ user.domain }}"
  },
  "plexpy": {
      "url": "http://localhost:8181",
      "api_key": "{{ tautulli.stdout if (tautulli_config.stat.exists) | default(false) else omit }}"
  },
  "rtorrent": {
    "url": "http://localhost:8999"
  }
}
