# /etc/systemd/system/crop_upload.service
[Unit]
Description=crop upload
After=network-online.target

[Service]
User={{ lookup('env','MYUID') }}
Group={{ lookup('env','MYGID') }}
Type=exec
ExecStart=/home/{{ lookup('env','USER') }}/scripts/crop/crop upload
ExecStopPost=/bin/rm -rf /home/{{ lookup('env','USER') }}/scripts/crop/crop.lock

[Install]
WantedBy=default.target
