[Unit]
Description=Zurg
AssertPathIsDirectory={{ lookup('env','HOME') }}/seedbox/zurg
After=network-online.target

[Service]
User={{ lookup('env','USER') }}
Group={{ lookup('env','MYGIDNAME') }}
Type=simple
ExecStart=/usr/bin/rclone mount -vv \
  --config={{ lookup('env','HOME') }}/.config/rclone/rclone.conf \
  --allow-other --gid {{user.groupid}} --uid {{user.userid}} \
  --allow-non-empty \
  --dir-cache-time=20s \
  --cache-dir={{ lookup('env','HOME') }}/.cache/rclone \
  --vfs-cache-mode full \
  zurg: \
  {{ lookup('env','HOME') }}/seedbox/zurg
ExecStop=/bin/fusermount -uz {{ lookup('env','HOME') }}/seedbox/zurg
Restart=always
RestartSec=5

[Install]
WantedBy=default.target