[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=/mnt/PlexdriveSeed
After=plexdrive.service

[Service]
User={{ lookup('env','USER') }}
Group={{ lookup('env','MYGIDNAME') }}
Type=simple
ExecStart=/usr/bin/rclone mount --config={{ lookup('env','HOME') }}/.config/rclone/rclone.conf --allow-other --gid {{user.groupid}} --uid {{user.userid}} {{rclone.plexdrive}}: /mnt/PlexdriveSeed
ExecStop=/bin/fusermount -uz /mnt/PlexdriveSeed
Restart=on-abort

[Install]
WantedBy=default.target