[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=/mnt/rclone
After=plexdrive.service

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --config{{ lookup('env','HOME') }}/.config/rclone/rclone.conf --allow-other --gid {{user.groupid}} --uid {{user.userid}} {{rclone.plexdrive}}: /mnt/rclone
ExecStop=/bin/fusermount -uz /mnt/rclone
Restart=on-abort

[Install]
WantedBy=default.target