[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=/mnt/rclone
After=plexdrive.service

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --config=/root/.config/rclone/rclone.conf --exclude BACKUPS/** --allow-other --gid {{groupid.stdout}} --uid {{userid.stdout}} {{remoteplex.stdout}}/{{user.stdout}} /mnt/rclone/{{user.stdout}}
ExecStop=/bin/fusermount -uz /mnt/rclone/{{user.stdout}}
Restart=on-abort

[Install]
WantedBy=default.target