[Unit]
Description=UnionFS Mount (plexdrive)
AssertPathIsDirectory=/home/{{user.stdout}}/Medias

[Service]
Type=forking
ExecStart=/usr/bin/unionfs-fuse -o nonempty -o cow -o allow_other /home/{{user.stdout}}/local=RW:/mnt/rclone/{{user.stdout}}=RO /home/{{user.stdout}}/Medias
ExecStop=/bin/fusermount -uz /home/{{user.stdout}}/Medias
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
