#!/usr/bin/env bash

CRAPPER_APPRISE_SERVICE=${CRAPPER_APPRISE_SERVICE:-}
CRAPPER_FILTER=${CRAPPER_FILTER:-Finished}
CRAPPER_SERVICES=${CRAPPER_SERVICES:-}

if [[ -f /home/{{ lookup('env','USER') }}/scripts/crop/crapper.env ]]; then
    source /home/{{ lookup('env','USER') }}/scripts/crop/crapper.env
fi

if [[ -z "$(command -v apprise)" ]]; then
    sudo -H pip install apprise
fi

if [[ -n "${CRAPPER_SERVICES:-}" ]]; then
    if [[ -f /etc/systemd/system/crop_sync.service ]]; then
        sed -i -E 's/^ExecStart=\/home\/{{ lookup('env','USER') }}\/scripts\/crop\/crop sync$/ExecStart=\/home\/{{ lookup('env','USER') }}\/scripts\/crop\/crapper sync/g' /etc/systemd/system/crop_sync.service
    fi
    if [[ -f /etc/systemd/system/crop_upload.service ]]; then
        sed -i -E 's/^ExecStart=\/home\/{{ lookup('env','USER') }}\/scripts\/crop\/crop upload$/ExecStart=\/home\/{{ lookup('env','USER') }}\/scripts\/crop\/crapper upload/g' /etc/systemd/system/crop_upload.service
    fi
    systemctl daemon-reload
fi

#/opt/crop/crop "$@" 3>&1 1>&2 2>&3 | tee >(grep -P "${CRAPPER_FILTER}" | apprise -vv "${CRAPPER_APPRISE_SERVICE}")
/home/{{ lookup('env','USER') }}/scripts/crop/crop "$@" 3>&1 1>&2 2>&3 | grep -P "${CRAPPER_FILTER}" | apprise -vv "${CRAPPER_APPRISE_SERVICE}"