settings:
  real_debrid:
    token: "{{zurg.token}}"
  radarr:
    host: "http://radarr:7878"
    token: "{{sub.radarr.api}}"
  sonarr:
    host: "http://sonarr:8989"
    token: "{{sub.sonarr.api}}"
  zurg:
    host: "http://{{network.ipv4}}:9999"

# si zurg en binarie
