settings:
  qdebrid:
    save_path: "/mnt/zurg/__all__"
    min_file_size: 100000000
  real_debrid:
    token: "{{zurg.token}}"
  radarr:
    host: "http://radarr:7878"
    token: "{{sub.radarr.api}}"
  sonarr:
    host: "http://sonarr:8989"
    token: "{{sub.sonarr.api}}"
  zurg:
    host: "http://zurg:9999"

# zurg docker
