server {
    listen 80;
    server_name {{sousdomain}};

    client_max_body_size 4M;
    client_body_buffer_size 128k;

    root /var/www/{{sousdomain}}/app;
    index index.php index.html;

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_index index.php;
        fastcgi_pass remplace:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include /etc/nginx/fastcgi_params;
    }
}
