[http.middlewares.chain-no-auth.chain]
  middlewares = [
    "middlewares-rate-limit@file",
    "middlewares-secure-headers@file"
  ]


[http.middlewares.chain-basic-auth.chain]
  middlewares = [
    "middlewares-rate-limit@file",
    "middlewares-secure-headers@file",
    "middlewares-basic-auth@file"
  ]


[http.middlewares.chain-oauth.chain]
  middlewares = [
    "middlewares-rate-limit@file",
    "middlewares-secure-headers@file",
    "middlewares-oauth@file"
  ]


[http.middlewares.chain-authelia.chain]
  middlewares = [
    "middlewares-rate-limit@file",
    "middlewares-secure-headers@file",
    "middlewares-authelia@file"
  ]


[http.middlewares.chain-oauth2-proxy.chain]
  middlewares = [
    "middlewares-rate-limit@file",
    "middlewares-secure-headers@file",
    "middlewares-oauth2-errors@file",
    "middlewares-oauth2-proxy@file"
  ]
