[http.routers]
  [http.routers.nginx-rtr]
      entryPoints = ["https"]
      rule = "Host(`{{sub.gui if sub_enabled else 'gui'}}.{{user.domain}}`)"
      service = "nginx-svc"
      middlewares = ["chain-basic-auth"]
      [http.routers.nginx-rtr.tls]
        certresolver = "letsencrypt"

[http.services]
  [http.services.nginx-svc]
    [http.services.nginx-svc.loadBalancer]
      passHostHeader = true
      [[http.services.nginx-svc.loadBalancer.servers]]
        url = "http://172.17.0.1:81"