[http.routers]
  [http.routers.nginx-rtr]
      entryPoints = ["http,https"]
      rule = "Host(`{{sub[pgrole][pgrole] if sub_enabled else pgrole}}.{{user.domain}}`)"
      service = "nginx-svc"
      middlewares = ["{{ 'chain-authelia@file' if check.stat.exists and sub[pgrole].auth == 'authelia' | default(false)
            else 'chain-basic-auth@file' if auth_enabled and sub[pgrole].auth == 'basique' | default(false)
            else 'chain-oauth@file' if auth_enabled and sub[pgrole].auth == 'oauth' | default(false) }}"]
      [http.routers.nginx-rtr.tls]
        certresolver = "letsencrypt"

[http.services]
  [http.services.nginx-svc]
    [http.services.nginx-svc.loadBalancer]
      passHostHeader = true
      [[http.services.nginx-svc.loadBalancer.servers]]
        url = "http://172.17.0.1:81"